<div class="bg-cover bg-center" style="background-image: url('assets/backgrounds/login-cover.jpg');">
    <div class="h-screen flex flex-col justify-center items-center text-white px-4 sm:px-6 lg:px-8 bg-gray-900 bg-opacity-60">
    <img src="/assets/logos/travlr-logo-white.png" alt="Travlr Logo" 
        class="mb-8 h-48 w-auto"
        style="mix-blend-mode: multiply;">
      <!-- <h2 class="text-4xl font-extrabold">Welcome to Travlr</h2> -->
      <p class="mt-3 max-w-md mx-auto text-center text-xl">
        Plan your trips effortlessly with friends. Join and start your journey today.
      </p>
      <div class="mt-10 flex gap-4">
        <a [routerLink]="['/auth/login']" class="bg-indigo-600 hover:bg-indigo-700 px-5 py-3 rounded-md text-lg font-medium">Login</a>
        <a [routerLink]="['/auth/register']" class="bg-blue-500 hover:bg-blue-600 px-5 py-3 rounded-md text-lg font-medium">Register</a>
      </div>
    </div>
</div>
  