<p>lodging works!</p>
<!-- lodging.component.html -->
<div *ngIf="lodgings && lodgings.length > 0; else noLodging">
    <div *ngFor="let lodging of lodgings">
      <h3>{{ lodging.name }}</h3>
      <p>Check-in: {{ lodging.checkIn | date }}</p>
      <p>Check-out: {{ lodging.checkOut | date }}</p>
      <p>Address: {{ lodging.address }}</p>
      <p>Notes: {{ lodging.notes }}</p>
      <p>Latlng: {{ lodging.latlng }}</p>
      <!-- Display more details as needed -->
    </div>
</div>
  
<ng-template #noLodging>
    <p>No lodging information available.</p>
</ng-template>
  