<div *ngIf="lodgings && lodgings.length > 0; else noLodging">
    <div *ngFor="let lodging of lodgings; let i = index;">
      <h3>{{ lodging.name }}</h3>
      <p>Check-in: {{ lodging.checkIn | date }}</p>
      <p>Check-out: {{ lodging.checkOut | date }}</p>
      <p>Address: {{ lodging.address }}</p>
      <p>Notes: {{ lodging.notes }}</p>
      <p>Latlng: {{ lodging.latlng }}</p>
      <button class="rounded p-1 bg-black text-white" (click)="deleteLodging(i)">Delete</button>
    </div>
</div>
  
<ng-template #noLodging>
    <p>No lodging information available.</p>
</ng-template>
<button class="rounded bg-blue-300 p-2" (click)="openDialog()">Add a Lodging</button>