<nav class="bg-gray-800 text-white">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <!-- Logo or brand name -->
        <div>
          <a [routerLink]="['/home']" class="flex items-center py-5 px-2 text-white-700 hover:text-white-100">
            <img src="/assets/logos/travlr-logo-small-white.png" alt="logo" 
            class="h-6 w-auto"
            style="mix-blend-mode:color-burn">
          </a>
        </div>
        <!-- Primary Nav -->
      </div>
      <!-- Secondary Nav -->
      <div class="hidden md:flex items-center space-x-1">
        <a (click)="logout()" class="py-5 px-3 hover:underline">Logout</a>
      </div>
      <!-- Mobile menu button -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div class="mobile-menu hidden md:hidden">
    <a [routerLink]="['/home']" class="block py-2 px-4 text-sm hover:bg-gray-200">Home</a>
    <!-- More mobile navigation items here -->
  </div>
</nav>
