<h2 mat-dialog-title>Add a new Lodging</h2>
<mat-dialog-content>
  <p>Enter your lodging details</p>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Notes</mat-label>
        <input type="textarea" matInput formControlName="notes">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Check-In Date</mat-label>
        <input matInput [matDatepicker]="checkInPicker" formControlName="checkIn">
        <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkInPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Check-Out Date</mat-label>
        <input matInput [matDatepicker]="checkOutPicker" formControlName="checkOut">
        <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
        <mat-datepicker #checkOutPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input type="text" matInput #searchInput>
      </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close class="rounded bg-blue-400 p-2">Close</button>
  <button [mat-dialog-close]="form" cdkFocusInitial class="rounded bg-blue-600 p-2">Ok</button>
</mat-dialog-actions>
