<mat-card class="max-w-sm mx-auto overflow-hidden shadow-lg transition-transform hover:-translate-y-2 cursor-pointer" (click)="openTrip(tripCard.id)">
    <img *ngIf="tripCard.image !== ''" mat-card-image [src]="tripCard.image" alt="Trip Image" class="w-full h-40 object-cover">
    <mat-card-header class="flex flex-col items-center p-4">
        <mat-card-title class="text-xl font-semibold">Trip to {{tripCard.country}}</mat-card-title>
        <mat-card-subtitle class="text-gray-600">{{tripCard.startDate | date:'d MMMM'}} - {{tripCard.endDate | date: 'd MMMM'}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-card-actions class="justify-center p-4">
        <button (click)="openTrip(tripCard.id)" class="bg-orange-200 hover:bg-orange-400 focus:outline-none focus:ring focus:ring-orange-500 focus:ring-opacity-50 rounded-full py-2 px-4 transition-colors">Open</button>
    </mat-card-actions> -->
</mat-card>
