<nav class="bg-gray-800 text-white">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">

        <div>
          <a [routerLink]="['/home']" class="flex items-center py-5 px-2 text-white-700 hover:text-white-100">
            <img src="/assets/logos/travlr-logo-small-white.png" alt="logo" 
            class="h-6 w-auto"
            style="mix-blend-mode:color-burn">
          </a>
        </div>

        <div>
          <a [routerLink]="['/home']" class="flex items-center py-5 px-2 text-white-700 hover:text-white-100">
            Your Trips
          </a>
        </div>
        <div>
          <a [routerLink]="['/home/new-trip']" class="flex items-center py-5 px-2 text-white-700 hover:text-white-100">
            Create new trip
          </a>
        </div>
        <!-- Primary Nav -->
      </div>
      <!-- Secondary Nav -->
      <div class="md:flex items-center">
        <div class="bg-gray-600 rounded-lg p-1 flex">
          <img src="../../../../assets/empty_user.jpg" class="w-5 h-5 rounded-full mr-2" alt="User Image">
          {{currentUser.username}}
        </div>
        <a (click)="logout()" class="py-5 px-3 hover:underline hover:cursor-pointer">Logout</a>
      </div>


    </div>
  </div>

</nav>
