<div class="h-screen relative"> <!-- Make the parent relative -->
    <div style="width: 100%; height: 100vh;">
        <google-map
            height="100%"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            [mapId]="mapId">
            <map-marker *ngFor="let marker of displayMarkers" 
                [label]="marker.label"
                [position]="marker.latlng"
                [options]="markerOptions">
            </map-marker>
        </google-map>
    </div>
    <!-- Container for the dropdown, absolutely positioned -->
    <div class="absolute top-16 left-2 z-10"> <!-- Adjust `top` and `left` as needed -->
        <select (change)="onSelectionChange(catSelect.value)" #catSelect class="bg-white border border-gray-300 rounded shadow p-2">
            <option value="lodging">Lodging</option>
            <option *ngFor="let day of itineraryDays; let i = index" [value]="day.date">
                {{ day.date | date:'cccc, d MMMM' }}
            </option>
        </select>
    </div>
</div>
