<p>map works!</p>
<select (change)="onSelectionChange(catSelect.value)" #catSelect>
    <option value="lodging">Lodging</option>
    <option *ngFor="let day of itineraryDays; let i = index" [value]="day.date">
      {{ day.date | date:'fullDate' }}
    </option>
</select>

<google-map
    [center]="center"
    [zoom]="zoom"
    [mapId]="mapId">
    <map-marker *ngFor="let marker of displayMarkers" 
        [label]="marker.label"
        [position]="marker.latlng"
        [options]="markerOptions">
    </map-marker>
</google-map>