<!-- Costings -->
<ng-container *ngIf="costings.length > 0; else noCostings">
    <div class="font-extrabold">Costs:</div>
        <div *ngFor="let costing of costings; let i = index;" class="flex justify-between">
            <div>{{costing.cost | currency: costing.currency }} paid by {{costing.payer}}</div>
            <button (click)="deleteCosting(i)" class="text-red-500 opacity-0 hover:opacity-100"><mat-icon>cancel</mat-icon></button>
        </div>
        <div>
            <button class="rounded bg-orange-200 hover:bg-orange-300 text-xs py-1 px-4 transition-colors"
                (click)="openCostingDialog()">
                +
            </button>
        </div>
    </ng-container>
    <ng-template #noCostings>
        <div>
            <button class="rounded bg-orange-200 hover:bg-orange-300 text-xs py-1 px-4 transition-colors"
                (click)="openCostingDialog()">
                Add a Cost
            </button>
        </div>
    </ng-template>
    
<!--  -->