<div class="">
    <div *ngIf="user | async as user">
        Your userid: {{ user.userId }}
    </div>
    <span>
        <div class="text-3xl pb-5">Your trips at a glance</div>
        @for (card of tripCards; track card; let i = $index) {
            <app-trip-card 
                [tripCard]="card"
                [index]="i">
            </app-trip-card>
        }
        <button (click)="newTrip()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            + Add a new trip
        </button>
    </span>
</div>