<h2 mat-dialog-title>Add a trip mate</h2>
<mat-dialog-content>
  <p>Enter your trip mate details</p>
    <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" [matAutocomplete]="auto">
        </mat-form-field>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            @for (user of filteredTripMates$ | async; track user) {
              <mat-option [value]="user.username">
                {{user.username}}
            </mat-option>
            }
        </mat-autocomplete>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex justify-end space-x-2 mt-4">
        <button mat-dialog-close class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded transition ease-in-out duration-150">
          Close
        </button>
        <button [mat-dialog-close]="form" cdkFocusInitial class="bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded transition ease-in-out duration-150">
          Ok
        </button>
      </div>      
</mat-dialog-actions>