<div class="flex justify-between">
  <h2 class="text-2xl font-extrabold text-gray-800 mb-4 mt-4">Flights</h2>
  <button class="m-1 rounded bg-blue-100 p-2 text-white hover:bg-blue-600 transition-all" (click)="openFlightDialog()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path></svg>
  </button>
</div>
<div *ngIf="flights && flights.length > 0; else noFlights" class="space-y-4">
  <div *ngFor="let flight of flights; let i = index" class="relative group p-4 border border-gray-200 rounded-lg hover:shadow-lg transition-shadow bg-violet-50 m-4">
      <div>
          <h3 class="text-lg font-semibold">{{ flight.airlineName }} ({{ flight.flightNumber }})</h3>
          <p class="text-sm text-gray-600">Departure: {{ flight.departureCountry }} - {{ flight.departureDate | date:'mediumDate' }}</p>
          <p class="text-sm text-gray-600">Arrival: {{ flight.arrivalCountry }} - {{ flight.arrivalDate | date:'mediumDate' }}</p>
          <p class="text-sm text-gray-600">Notes: {{ flight.notes }}</p>
      </div>

      <app-costing [costings]="flight.costings" [tripId]="tripId"
        (addCostingSubject)="addCosting($event, i)"
        (deleteCostingSubject)="deleteCosting($event, i)"></app-costing>

      <button class="rounded p-1 bg-red-500 text-white absolute top-2 right-2 opacity-0 group-hover:opacity-100 transition-opacity duration-200 ease-in-out text-xs"
              (click)="deleteFlight(i)">Delete</button>
  </div>

</div>

<ng-template #noFlights>
  <p class="text-gray-500 ml-4">No flight information available.</p>
</ng-template>
