<div class="m-5">
    <div class="text-xl">{{ day.date | date:'EEEE, d MMMM' }}</div>
    <div class="space-y-2">
        <app-place *ngFor="let place of day.places; let i = index;" 
            [place]="place" 
            [date]="day.date"
            [index]="i" 
            class="p-0.5">
        </app-place>
    </div>
    <div class="mt-1 flex items-center space-x-2 opacity-30 hover:opacity-100 transition">
        <input #searchInput
            placeholder="Add a new place"
            type="text"
            class="rounded focus:shadow-outline focus:ring-2 focus:ring-blue-500 focus:border-blue-500 w-full border-2 border-gray-300 shadow-sm p-2 transition duration-150 ease-in-out">
        <button (click)="addPlace()" class="rounded bg-blue-500 hover:bg-blue-600 p-2 text-white transition duration-150 ease-in-out">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path></svg>
        </button>
    </div>
</div>
