<ng-container *ngIf="showChat">

<!-- Message History -->
    <div class="max-h-32 min-h-32 md:max-h-64 md:min-h-64 overflow-y-auto w-96 bg-gray-500 rounded-lg" #messageContainer>
        <ng-container *ngIf="chatHistory.length > 0">
            <div *ngFor="let chat of chatHistory">
                @if (chat.sender.userId != currentUser.userId) {
                    <div class="flex flex-col">
                        <div class="bg-gray-200 border border-gray-300 shadow-md p-2 rounded-lg m-1 w-64 h-auto">
                            <div class="">
                                {{chat.sender.username}}: {{chat.message}}
                            </div>
                        </div>
                    </div>
                } @else {
                    <div class="flex flex-col items-end">
                        <div class="bg-green-400 border border-gray-300 shadow-md p-2 rounded-lg m-1 w-64 h-auto">
                            <div class="">
                                {{chat.sender.username}}: {{chat.message}}
                            </div>
                        </div>
                    </div> 
                }
            </div>
        </ng-container>
    </div>        
<!-- Message Input -->
    <div class="flex">
        <input type="text" [(ngModel)]="messageText" class="w-full rounded-l-lg px-4 py-2 border border-gray-300 focus:outline-none focus:border-blue-500" (keyup.enter)="sendMessage()">
        <button (click)="sendMessage()" class="bg-gray-800 hover:bg-gray-700 rounded-r-lg text-white px-4 py-2">Send</button>
    </div>
        

</ng-container>
