<div>Register Component</div>
<div class="flex min-h-80 justify-center px-6 py-12 lg:px-8">
<mat-card class="">
    <mat-card-content class="w-96 mt-5">
        <form [formGroup]="registerForm" (submit)="register()">
            <p>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Username</mat-label>
                    <input matInput 
                        placeholder="Enter your username" 
                        type="text" 
                        formControlName="username" 
                        autocomplete="username">
                    @if (registerForm.get('username')?.touched && registerForm.get('username')?.hasError('required')) {
                        <mat-error>Username is required</mat-error>
                    }
                    @else if (registerForm.get('username')?.touched && registerForm.get('username')?.hasError('minlength')) {
                        <mat-error>Username must be at least 3 characters.</mat-error>
                    }
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" 
                        placeholder="Enter your password" 
                        formControlName="password"
                        autocomplete="new-password">
                    @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')) {
                        <mat-error>Password is required.</mat-error>
                    }
                    @else if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')) {
                        <mat-error>Password must be at least 4 characters.</mat-error>
                    }
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" 
                        placeholder="Confirm your password" 
                        formControlName="confirmPassword"
                        autocomplete="new-password">
                    @if (registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('passwordMismatch')) {
                        <mat-error>Password must match</mat-error>
                    }
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="email" 
                        placeholder="Enter your email" 
                        formControlName="email"
                        autocomplete="email">
                    @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError) {
                        <mat-error>Email is required.</mat-error>
                    }
                </mat-form-field>
            </p>
                <button class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" type="submit">Register</button>
                <button [routerLink]="['/auth/login']" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-3">Back</button>
        </form>
    </mat-card-content>

</mat-card>
</div>