<br>
<h4>{{ place.name }}</h4>
<p>{{ place.address }}</p>

<!-- Start End -->

<div *ngIf="editingTime; else showTime">
    <input type="time" [(ngModel)]="editableStart">
    <input type="time" [(ngModel)]="editableEnd">
    <button mat-icon-button (click)="editingTime = false" class="mr-2"><mat-icon>cancel</mat-icon></button>
    <button color="primary" (click)="saveUpdatedTimes()" class="bg-blue-600" [disabled]="!editableStart || !editableEnd">Save</button>
</div>

<ng-template #showTime>
    <p *ngIf='place.start.getTime() !== 0 else addTime' (click)="editTime()" class="cursor-pointer">
        <!-- {{ place.start | date:'mediumTime' }} - {{ place.end | date:'mediumTime' }} -->
        {{ place.start | date:'h mm a' }} - {{ place.end | date:'h mm a' }}
    </p>
    <ng-template #addTime>
        <div class="flex items-center cursor-pointer p-2" (click)="editTime()">
            Add a time
        </div>
    </ng-template>
</ng-template>




<!-- Notes -->
<div *ngIf="editingNotes; else showNotes" class="flex items-center w-full">
    <mat-form-field class="flex-grow">
        <input matInput [(ngModel)]="editableNotes" (keyup.enter)="saveNotes(editableNotes)">
    </mat-form-field>
    <button mat-icon-button (click)="editingNotes = false" class="ml-2 pb-4">
        <mat-icon>cancel</mat-icon>
    </button>
</div>

<ng-template #showNotes>
    <div class="flex items-center cursor-pointer p-2" (click)="editNotes()">
      <mat-icon class="mr-2">edit_note</mat-icon>
      <p class="m-0">{{ place.notes || 'Add a note' }}</p>
    </div>
</ng-template>
  

<!-- Image -->
<p *ngIf="place.image.length != 0">
    <img [src]="place.image" alt="" width="200">
</p>
<button class="rounded bg-blue-200 text-xs py-1 px-1">Change Time</button>
<button class="rounded bg-orange-200 text-xs py-1 px-1">Add Cost</button>

